<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>CodePen - Angular BMI Calculator</title>
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css'>
  <link rel="stylesheet" href="./style.css">

</head>

<body>
  <!-- partial:index.partial.html -->

  <body ng-app="bmiApp">
    <div class="container">
      <div class="jumbotron" ng-controller="headerText">
        <h2 class="main-header">{{mainHeader}}</h2>
        <hr>
        <br>
        <form ng-controller="mainCtrl">
          <h3>Weight(lbs):</h3><input ng-change="computeBMI()" ng-model="stats.weightUS"></input>
          <br>
          <br>
          <h3 class="us-weight">Height(in):</h3><input ng-change="computeBMI()" ng-model="stats.heightUS"></input>
          <br>
          <br>
          <b>Your BMI is:</b>
          <br>
          <h3 class="result">{{stats.BMI | number: 0}}</h3>
          <br>
          <button type="button" class="btn btn-primary">Primary</button>

          <!-- <script>
          const url = './jason.json'
          const gettodo = async (url) => {
           return await fetch(url);
             }
          const todo = await gettodo(url);
          const { title } = await todo.json();
          var users = (`${title}`);
          console.log(users);
       document.getElementById('name').value=users;
       </script> -->
      
      
        </form>
      </div>
    </div>
  </body>
  <!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.14/angular.min.js'></script>
  <script src="./script.js"></script>

</body>

</html>